*{
    font-family: arial black;
}

body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: rgb(17, 23, 35);
}
form{
    display: flex;
    margin-top: 10px ;
    background-color: antiquewhite;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px; 
    background-color: rgb(38, 40, 51);
}
input{
    width: 80%;
    height: 40px;
    background-color: rgb(51, 53, 68);
    color: white;
    border-style: inherit;
}
button{
    padding: 10px 15px;
    background-color: rgb(51, 53, 68);
    color: white;
    border: none;
    border-radius: 5px;
}
#buttons{
    display: grid;
   /* grid-template-columns: repeat(4, 1fr);*/
   grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 10px;
}
#result{
    background-color: rgb(51, 53, 68);
    padding: 10px 20px;
    border-radius: 30%;
    color: white;
}
